*,*:before,*:after{
    margin: 0  ;
    padding: 0;
}
html{
    box-sizing: inherit;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    box-sizing: border-box;

}
.container{
    margin:100px auto;
    max-width: 900px;
    background-color: green;
}